# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/

# Virtual environment
venv/
ENV/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp



# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg-info/
dist/
build/
.eggs/
